<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente Farmax</title>
    <link rel="stylesheet" href="css/style2.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <!-- Menu Lateral -->
        <nav class="nav_lateral" th:replace="~{menuLateral :: menuLateralFragment}"></nav>

        <!-- Tela Principal -->
        <main class="tela_meio">
            <header class="barra_inicial">
                <h1>Menu Categorias</h1>
                <input type="text" class="search-bar" placeholder="Pesquisar remédio, produtos etc...">
            </header>

            <section class="categorias">
                <button class="button_cat">
                    <span class="material-symbols-outlined">editor_choice</span>
                    Top Vendas
                </button>
                <button class="button_cat">
                    <span class="material-symbols-outlined">health_and_beauty</span>
                    Medicamentos
                </button>
                <button class="button_cat">
                    <span class="material-symbols-outlined">pill</span>
                    Higiene
                </button>
                <button class="button_cat">
                    <span class="material-symbols-outlined">exercise</span>
                    Suplementos
                </button>
                <button class="button_cat">
                    <span class="material-symbols-outlined">child_care</span>
                    Mamãe e Bebê
                </button>
            </section>
            <section class="section-products">
                <div class="product-card" th:each="produto : ${produtos}" th:if="${produto.quantidade > 0}">
                    <form action="/Carrinho/Adicionar" method="post">
                        <div class="img">
                            <img th:src="@{'/images/' + ${produto.nome} + '.jpg'}" alt="Sem Imagem" />
                        </div>
                        <div class="info">
                            <p class="name" th:text="${produto.nome}"></p>
                            <p class="price" th:text="'R$ ' + ${#numbers.formatDecimal(produto.preco, 0, 2)}"></p>
                            <p class="description" th:text="${produto.descricao}"></p> <!-- Descrição -->
                            <p class="quantity" th:text="'Quantidade: ' + ${produto.qtd}"></p> <!-- Quantidade -->
                        </div>
                        <input type="hidden" name="id" th:value="${produto.id}" />
                        <button class="btn_add">
                            <span class="material-symbols-outlined">add_shopping_cart</span> Adicionar
                        </button>
                    </form>
                </div>
            </section>
            
            

        </main>

        <!-- Carrinho de Compras -->
        <aside class="carrinho_compras">
            <h2>Meu Carrinho
                <span class="material-symbols-outlined">shopping_cart</span>
            </h2>
            <div class="itens-carrinho">
                <div th:each="item : ${produtosCarrinho}" class="item-carrinho">
                    <div class="item-info">
                        <p class="item-nome" th:text="${item.produto.nome}"></p>
                        <p class="item-preco"
                            th:text="'R$ ' + ${#numbers.formatDecimal(item.produto.preco * item.quantidade, 0, 2)}"></p>
                        <p class="item-quantidade">Quantidade: <span th:text="${item.quantidade}"></span></p>
                    </div>
            
                    <!-- Botão para remover uma unidade -->
                    <form action="/Carrinho/RemoverUmaUnidade" method="post" class="remover-item">
                        <input type="hidden" name="itemId" th:value="${item.id}" />
                        <button type="submit" class="btn-remover">
                            <span class="material-symbols-outlined">remove_circle</span> <!-- Ícone de "menos" -->
                        </button>
                    </form>
            
                    <!-- Botão para remover todas as unidades -->
                    <form action="/Carrinho/RemoverTodasUnidades" method="post" class="remover-item">
                        <input type="hidden" name="itemId" th:value="${item.id}" />
                        <button type="submit" class="btn-remover-all">
                            <span class="material-symbols-outlined">delete_forever</span> <!-- Ícone de "excluir tudo" -->
                        </button>
                    </form>
                </div>
            </div>
            

            <form action="/Carrinho/LimparCarrinho" method="post">
                <button class="btn_carrinho">Finalizar</button>
            </form>
        </aside>

    </div>
</body>

</html>