<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style2.css">
    <title>Menu Lateral</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>

<body>
    <nav class="nav_lateral" th:fragment="menuLateralFragment">
        <!-- Logotipo -->
        <div class="logo_container">
            <img src="imagensLogo/LogoMini.png" alt="Logotipo Farmax" class="logo">
        </div>

        <!-- Links do menu -->
        <div class="menu_links">
            <a class="button_nav" href="/Home">
                <span class="material-symbols-outlined">storefront</span>
                Inicio
            </a>
            <a class="button_nav" href="/Gerenciar/Produtos" th:if="${role == 'ADMIN'}">
                <span class="material-symbols-outlined">settings</span>
                Configurações dos Produtos
            </a>
            <a class="button_nav" href="/Gerenciar/Usuarios" th:if="${role == 'ADMIN'}">
                <span class="material-symbols-outlined">settings</span>
                Configurações dos Usuarios
            </a>
        </div>

        <!-- Logout -->
        <div class="logout_section">
            <a class="logout" href="/Login/Logout">
                <span class="material-symbols-outlined">logout</span>
                Logout
            </a>
        </div>
    </nav>
</body>

</html>
