.menuLateral {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 70px;
    width: 10%;
}
.itemLateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}
button {
    padding: 10px 40px;
}
svg {
    height: 50px;
    width: 50px;
}